# Data Analysis
##### Analyzing the Pre-Processed Binary Encoded Data

Using standard python and pandas methods to examine and analyze the dataset

#### Imports

In [10]:
import warnings
warnings.filterwarnings('ignore', category=DeprecationWarning)

import pandas as pd
import matplotlib.pyplot as plt
import pre_processing as pp

In [11]:
df = pp.preprocess_pipeline(r"Updated_Gaming_Survey_Responses.xlsx")

[INFO] Excel dataset loaded successfully. Shape: (500, 22)
[INFO] Basic cleaning applied.
[INFO] 'timestamp' column removed.
[INFO] Age column converted to binary columns -> Age_Teen, Age_Young_Adult, Age_Adult, Age_Mid_Adult.
[INFO] Location column converted to binary columns -> 'Location_India', 'Location_US', 'Location_Other'.
[INFO] Gender column cleaned.
[INFO] Gender column converted to binary columns.
[INFO] 'How often do you play video games?' converted to binary columns -> Gaming_Daily, Gaming_Weekly, Gaming_Monthly, Gaming_Rarely_Never.
[INFO] 'How many hours do you typically spend gaming in a week?' column cleaned and renamed -> 'Gaming_Hours'.
[INFO] 'Gaming_Hours' converted to binary columns.
[INFO] 'Which device do you play games on the most?(Check all that apply)' column cleaned and expanded into one-hot device columns.
[INFO] 'What genres of video games do you play? (Check all that apply)' column cleaned and expanded into one-hot genre columns.
[INFO] 'What is your favorite game?' column cleaned and renamed -> 'Favorite_Game'.
[INFO] 'Favorite_Game' converted to binary columns.
[INFO] 'How do you discover new games? (Check all that apply)' column cleaned and expanded into one-hot discovery columns.
[INFO] 'Do you prefer single-player or multiplayer games?' converted to binary columns -> Game_Mode_Single_Player, Game_Mode_Multiplayer, Game_Mode_Both, Game_Mode_Unknown.
[INFO] 'How much do you spend on gaming monthly (including in-game purchases, new games, etc.)?' converted to binary columns -> Spend_lt100, Spend_100-500, Spend_500-1000, Spend_1000plus, Spend_Unknown.
[INFO] 'Why do you play video games? (Check all that apply)' column cleaned and expanded into one-hot reason columns.
[INFO] Preprocessing pipeline complete.

In [12]:
df.to_csv('data/processed_data.csv', index=False)

#### Data Loading

In [ ]:
# Replace with the actual path to your CSV
df = pd.read_csv(r"data/processed_data.csv")

# Show data as boolean values
df = df.astype(bool)

print("Dataset shape:", df.shape)
print("Sample transactions:")
df.head()

Dataset shape: (500, 67)
Sample transactions:

,Age_Teen,Age_Young_Adult,Age_Adult,Age_Mid_Adult,Location_India,Location_US,Location_Other,Gender_Female,Gender_Male,Gaming_Daily,...,Spend_lt100,Spend_100-500,Spend_500-1000,Spend_1000plus,Reason_Fun,Reason_Stress_Relief,Reason_Skills_Competition,Reason_Socialize,Reason_Learning,Reason_Other
0,1,0,0,0,1,0,0,0,1,1,...,1,0,0,0,1,1,0,0,0,0
1,0,1,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
2,0,1,0,0,1,0,0,0,1,0,...,0,1,0,0,1,0,0,0,0,0
3,1,0,0,0,0,0,1,1,0,0,...,1,0,0,0,1,0,0,0,0,0
4,1,0,0,0,1,0,0,1,0,1,...,1,0,0,0,1,1,1,1,0,0

#### Let:
- $ I = \{ i_1, i_2, ... , i_m \} $ be the set of all items
- $ D = \{ T_1, T_2, ... , T_N \} $ be the transaction database
- $ N = | D | $ be the number of transactions

## Analysis

### Item supports

$ \text{count}(i) = \sum _{t=1}^N 1(i \in T) $

$ \text{support}(i) = \frac{\text{count(i)}}{\text{N}} $

In [14]:
freq_support = pd.DataFrame({
    "Frequency": df.sum(),
    "Support": df.mean()
}).sort_values("Frequency", ascending=False)

top_10 = freq_support.head(10).reset_index()
bottom_10 = freq_support.tail(10).reset_index()

top_10.rename(columns={"index": "Top 10 Items"}, inplace=True)
bottom_10.rename(columns={"index": "Bottom 10 Items"}, inplace=True)

combined = pd.concat([top_10, bottom_10], axis=1)

combined

,Top 10 Items,Frequency,Support,Bottom 10 Items,Frequency,Support
0,Reason_Fun,334,0.668,Favorite_Game_chess,20,0.040
1,Genre_Action/Adventure,298,0.596,Favorite_Game_clash_of_clans,20,0.040
2,Device_Mobile,294,0.588,Favorite_Game_red_dead_redemption_2,20,0.040
3,Gender_Female,268,0.536,Favorite_Game_many,20,0.040
4,Location_India,265,0.530,Favorite_Game_fortnite,20,0.040
5,Reason_Stress_Relief,264,0.528,Favorite_Game_god_of_war_ragnarok,20,0.040
6,Game_Mode_Both,263,0.526,Reason_Other,15,0.030
7,Discovery_Social_Media,263,0.526,Gaming_Hours_0-1_hour,12,0.024
8,Genre_FPS,238,0.476,Reason_Learning,12,0.024
9,Gender_Male,232,0.464,Device_Handheld,10,0.020

### Transaction lengths

$ \text{transaction length} = \sum_{j} X_{ij} $

In [15]:
transaction_lengths = df.sum(axis=1)

basket_size = transaction_lengths.describe().to_frame(name="Transaction Length/Basket Size")

basket_size

       Transaction Length/Basket Size
count                      500.000000
mean                        15.668000
std                          2.552412
min                         12.000000
25%                         14.000000
50%                         15.000000
75%                         17.000000
max                         24.000000

### Sparsity/Density of the Dataset

$ \text{density} = \frac{\text{total ones}}{N \times M} $

In [16]:
total_entries = df.shape[0] * df.shape[1]
total_ones = df.values.sum()

density = (total_ones / total_entries)
print("Density:", density)

Density: 0.2338507462686567

### Sample Transactions

In [17]:
transaction = df.loc[5]
items_in_transaction = transaction[transaction].index.tolist()

print(items_in_transaction)

['Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen']

C:\Users\Admin\AppData\Local\Temp\ipykernel_18736\62899685.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  items_in_transaction = transaction[transaction].index.tolist()

In [18]:
transaction = df.loc[255]
items_in_transaction = transaction[transaction].index.tolist()

print(items_in_transaction)

['Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen', 'Age_Teen', 'Age_Young_Adult', 'Age_Young_Adult', 'Age_Teen', 'Age_Young_Adult', 'Age_Young_Adult', 'Age_Teen', 'Age_Teen']

C:\Users\Admin\AppData\Local\Temp\ipykernel_18736\1278820181.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  items_in_transaction = transaction[transaction].index.tolist()